<div class="grid-container">
    <div class="left-item">
        <div class="card flex justify-content-center" style="margin-bottom: 5px;">
            <p-inputGroup>
                <input type="text" pInputText placeholder="Url" (ngModel)="query"/>
                <button type="button" pButton icon="pi pi-search" (click)="search()"></button>
            </p-inputGroup>
        </div>

        <p-inputGroup>        
    <!--<p-knob [size]="50" (ngModel)="total"></p-knob> -->
        </p-inputGroup>

        <div class="card" align="center">
            <h2>{{searchResult.base.title}}</h2>
            <p st>Author: {{searchResult.base.author}}</p>
            <p>{{searchResult.base.summary}}</p>
            <p>{{searchResult.base.date}}</p>
            <a routerLink={{searchResult.base.url}}>link</a>
            <p style="margin-bottom:  0.4cm;"></p>
        </div>
    </div>

    <div class="right-item" align="center">
        <h1>Associated News</h1>
        <div class="card">
            <p-timeline [value]="searchResult.associated_news" align="alternate" styleClass="customized-timeline">
                <ng-template pTemplate="marker" let-event>
                    <span class="custom-marker shadow-2"></span>
                </ng-template>
                <ng-template pTemplate="content" let-event>
                    <p-card [header]="event.title" [subheader]="event.date">
                        <img *ngIf="event.image" [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + event.image" [alt]="event.name" width="200" class="shadow-2" />
                        <p>
                            {{event.summary}}
                        </p>
                        <button pButton label="Read more" class="p-button-text"></button>
                    </p-card>
                </ng-template>
            </p-timeline>
        </div>
    </div>
</div>

<!-- <div>
    <div *ngIf="searchResult.associated_news.length == 0">
        <p style="width: 800px;">
            We have found nothing
        </p>
    </div>

    <div class="grid-container">
        <div class="left-item">
           <div class="layout-topbar-menu" [ngClass]="'layout-topbar-menu-mobile-active'">
                <div>
                    <input type="text" pInputText placeholder="Url" style="width: 250px; height: fit-content;"/>
                </div>
                <button class="p-link layout-topbar-button" [routerLink]="['/search-body']">
                    <i class="pi pi-search"></i>
                    <span>Profile</span>
                </button>
            </div>
        
            <h1>New</h1>
            <h2>{{searchResult.base.title}}</h2>
            <p st>Author: {{searchResult.base.author}}</p>
            <p>{{searchResult.base.summary}}</p>
            <p>{{searchResult.base.date}}</p>
            <a routerLink={{searchResult.base.url}}>link</a>
            <p style="margin-bottom:  0.4cm;"></p>
        </div>

        <div class="right-item">
            <div *ngIf="searchResult.associated_news">
                <h1>Associated News</h1>
            </div>
            <div *ngFor="let new of searchResult.associated_news">
                <h3>{{new.title}}</h3>
                <p>Author: {{new.author}}</p>
                <p>{{new.summary}}</p>
                <p>{{new.date}}</p>
                <a routerLink={{new.url}}>link</a>
                <p style="margin-bottom:  0.4cm;"></p>
            </div>
        </div>
    </div>
</div> -->
