<div class="card">
  <p-toolbar>
    <span>
      <label for="username">Url</label>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText [(ngModel)]="query" />
      </span>
      <p-button label="Submit" (onClick)="search()"></p-button>
  </span>
  </p-toolbar>

  <p class="m-0"></p>
  <p-divider align="left" type="solid">
    <b>Left</b>
    </p-divider>

    <p class="m-0">
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
    voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
    </p>

  <p-divider></p-divider>

  <div *ngIf="show_news" class="card"  styleClass="customized-timeline" (scroll)="true">
    <p-timeline [value]="news" align="alternate" styleClass="customized-timeline">
        <ng-template pTemplate="marker">
            <span class="custom-marker shadow-2">
                <i class="pi pi-calendar-minus"></i>
            </span>
        </ng-template>
        <ng-template pTemplate="content" let-current_new>
            <p-card [header]="current_new.title" [subheader]="current_new.date">
                <p [textContent]="current_new.summary"></p>
                <a href="https://ejemplo.com">link</a>
            </p-card>
        </ng-template>
    </p-timeline>
  </div>
</div>