<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="./../assets/logo.png" alt="logo">
    </a>

    <div class="layout-topbar-menu" [ngClass]="'layout-topbar-menu-mobile-active'">
        <div class="input-search">
            <div>
                <input type="text" pInputText placeholder="Url" style="width: 250px; height: fit-content;"/>
            </div>
            <button class="p-link layout-topbar-button" (click)="search()">
                <i class="pi pi-search"></i>
                <span>Profile</span>
            </button>
        </div>
    </div>
</div>
